{% extends "base.html" %}

{% block head %}

<title>Gestionale Guidoncini Verdi</title>

{% endblock %}

{% block titolo %}

{% endblock %}

{% block corpo %}
<div class="row mx-2">

<p class="text-center">
{% if current_user.livello != "admin" %}
{% if regione == "piemonte" %}
<img class="" src="/static/agesci_piemonte.png" alt="" height="150">
{% elif regione == "puglia" %}
<img class="" src="/static/agesci_puglia.png" alt="" height="150">
{% elif regione == "valle_aosta" %}
<img class="" src="/static/valle_aosta.jpeg" alt="" height="150">
{% elif regione == "sardegna" %}
<img class="" src="/static/agesci_sardegna.jpg" alt="" height="150">
{% endif %}
{% else %}
<img class="" src="/static/gv.jpg" alt="" height="150">
{% endif %}
<br>
Benvenuto <strong>{{ current_user.username }}</strong>!
<br>
{% if current_user.livello != "admin" %}
<strong>Stato Iscrizioni:</strong>
{% if stato.iscrizioni %}
<span class="badge text-bg-success">APERTE</span>
<br>
<strong>Stato Abilitazioni:</strong>
{% if stato.abilitazioni %}
<span class="badge text-bg-success">APERTE</span>
{% else %}
<span class="badge text-bg-warning">CHIUSE</span>
{% endif %}
{% else %}
<span class="badge text-bg-warning">CHIUSE</span>
{% if current_user.livello == "iabr" %}
<br>
<a type="button" class="btn btn-warning mt-2" href="{{ url_for("iscrivi") }}">Iscrivi una Squadriglia</a>
{% endif %}
{% endif %}
{% if current_user.livello == "iabz" %}
<br>
<a type="button" class="btn btn-warning mt-2" href="{{ url_for("iscrizioni") }}">Vai alle Iscrizioni</a>
{% endif %}
{% endif %}
</p>

{% if current_user.livello != "admin" %}
<div class="mx-5 mb-5 w-25 mx-auto">
  <canvas id="contatore_iscritti"></canvas>
</div>
{% endif %}
{% if current_user.livello == "iabr" %}
<div class="w-50 mx-auto">
  <canvas id="bar_storico"></canvas>
</div>
{% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('contatore_iscritti');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
            'Abilitate',
            'Da Abilitare',
            'In Abilitazione',
            'Errori',
            'Eliminati'
        ],
        datasets: [{
            label: 'Iscrizioni',
            data: [{{ dati_iscrizioni["abilitate"] }}, {{ dati_iscrizioni["da_abilitare"] }}, {{ dati_iscrizioni["in_abilitazione"] }}, {{ dati_iscrizioni["errori"] }}, {{ dati_iscrizioni["eliminate"] }}],
            backgroundColor: [
            'rgb(25, 135, 84)',
            'rgb(255, 193, 7)',
            'rgb(13, 202, 240)',
            'rgb(220, 53, 69)',
            'rgb(108, 117, 125)'
            ],
            hoverOffset: 4
        }]
        },
    options: {
    responsive: true,
    maintainAspectRatio: false
    }
  });


  const barchart = document.getElementById('bar_storico');

  new Chart(barchart, {
    type: 'bar',
    data: {
    labels: {{ dati_iscrizioni["storico"]["labels"] | safe }},
    datasets: {{ dati_iscrizioni["storico"]["datasets"] | safe }}
},
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top'
        }
      },
      scales: {
        x: {
          stacked: true
        },
        y: {
          stacked: true,
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
