{% extends "base.html" %}
{% from "_stato_iscrizione.html" import badge_stato_iscrizione %}

{% block head %}

<title>GV Piemonte - Iscrizioni</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Dettaglio iscrizione {{ iscrizione.id }}</strong></h1>

{% endblock %}

{% block corpo %}
<div class="mx-4">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for("iscrizioni") }}">Iscrizioni</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dettaglio iscrizione {{ iscrizione.id }}</li>
    </ol>
  </nav>

  <div class="btn-group" role="group">
  {% if iscrizione.stato in ["da_abilitare", "failed_user"] %}
  <a type="button" class="btn btn-outline-primary" href="{{ url_for("abilita", id_iscrizione=iscrizione.id) }}">{% if iscrizione.stato == "failed_user" %}Riprova abilitazione{% else %}Abilita{% endif %}</a>
  {% endif %}
  {% if iscrizione.stato in ["da_abilitare", "failed_user"] %}
  <a type="button" class="btn btn-outline-primary" href="{{ url_for("edit_iscrizione", id_iscrizione=iscrizione.id) }}">Modifica</a>
  {% endif %}
  {% if iscrizione.stato in ["da_abilitare", "failed_user"] %}
  <a type="button" class="btn btn-outline-danger" href="{{ url_for("elimina", id_iscrizione=iscrizione.id) }}">Scarta</a>
  {% endif %}
  {% if iscrizione.stato == "eliminato" %}
  <a type="button" class="btn btn-outline-success" href="{{ url_for("ripristina", id_iscrizione=iscrizione.id) }}">Ripristina</a>
    {% if current_user.livello == "admin" %}
    <a type="button" class="btn btn-outline-danger" href="{{ url_for("elimina_def", id_iscrizione=iscrizione.id) }}">Elimina Definitivamente</a>
    {% endif %}
  {% endif %}
  <a type="button" class="btn btn-outline-primary" href="{{ url_for("export_iscrizione", id_iscrizione=iscrizione.id) }}">Export</a>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nome SQ</th>
          <td>{{ iscrizione.nome }}</td>
        </tr>
        <tr>
          <th scope="row">Sesso</th>
          {% if iscrizione.sesso == "m" %}
          <td><span class="badge bg-info">Maschile</span></td>
          {% elif iscrizione.sesso == "f" %}
          <td><span class="badge bg-info">Femminile</span></td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Gruppo</th>
          <td>{{ gruppo.gruppo.capitalize() }}</td>
        </tr>
        <tr>
          <th scope="row">Zona</th>
          <td>{{ zona.zona.title() }}</td>
        </tr>
        <tr>
          <th scope="row">Ambito</th>
          <td>{{ iscrizione.specialita }} - {{ iscrizione.tipo.capitalize() }}</td>
        </tr>
        <tr>
          <th scope="row">Stato</th>
          <td>{{ badge_stato_iscrizione(iscrizione.stato, true) }}</td>
        </tr>
        <tr>
          <th scope="row">Utente WordPress</th>
          <td>{% if wordpress_user %}<span class="badge bg-success">Presente</span> {{ wordpress_user.username }}{% else %}<span class="badge bg-secondary">Non presente</span>{% endif %}</td>
        </tr>
        <tr>
          <th scope="row">Pagina WordPress</th>
          <td>{% if wordpress_post %}<span class="badge bg-success">Presente</span>{% else %}<span class="badge bg-secondary">Non presente</span>{% endif %}</td>
        </tr>
        {% if iscrizione.link %}
          <tr>
            <th scope="row">Link Diario di Bordo</th>
            <td><a href="{{ iscrizione.link }}" rel="noopener noreferrer">{{ iscrizione.link }}</a></td>
          </tr>
        {% endif %}
        {% if iscrizione.regione == "puglia" %}
          <tr>
            <th scope="row">Relazione</th>
            {% if relazione.stato %}
            <td><span class="badge bg-success">Ricevuta!</span> <a type="button" class="btn btn-sm bg-danger btn-disabled" href="">Elimina Relazione</a></td>
            {% else %}
            <td><span class="badge bg-warning">...manca...</span></td>
            {% endif %}
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome e Cognome</th>
          <th scope="col">Indirizzo mail</th>
          <th scope="col">Numero di cellulare</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Capo squadriglia</th>
          <td>{{ iscrizione.nome_capo_sq }}</td>
          <td>{{ iscrizione.mail }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Capo Reparto 1</th>
          <td>{{ iscrizione.nome_capo1 }}</td>
          <td>{{ iscrizione.mail_capo1 }}</td>
          <td>{{ iscrizione.cell_capo1 }}</td>
        </tr>
        <tr>
          <th scope="row">Capo Reparto 2</th>
          <td>{{ iscrizione.nome_capo2 }}</td>
          <td>{{ iscrizione.mail_capo2 }}</td>
          <td>{{ iscrizione.cell_capo2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
