credenziali.json
*.db
__pycache__
**/__pycache__/
*.pyc
.env
**/.env
**/.env.*
!**/.env.example
*.patch
gruppi.csv
gruppi_piemonte.csv
gruppi_puglia.csv
gruppi_sardegna.csv
gruppi_valle_aosta.csv
genera_costanti.py
riepilogo.xlsx
credenziali_notifiche.json
venv
script_vari
instance
